* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000000, #000000);
}

.menu-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 20px 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    background-color: #000;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a i {
    margin-right: 10px;
    font-size: 20px;
}

.menu li a:hover {
    background-color: #1a1a1a;
    transform: translateY(-3px);
}

.menu li a:active {
    transform: translateY(1px);
}

