
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    background-image: url('https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2022/07/22/517909072-i500561.jpeg'); 
    background-size: contain; /* Altere para "contain" para manter a proporção da imagem e ajustá-la ao tamanho da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000; /* Botão preto */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Cor ao passar o mouse */
}

.message {
    margin-top: 15px;
    text-align: center;
    color: #d9534f;
}
