body {
  background-color: #000000;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.payment-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.payment-header {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 0.9em;
  color: #888;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1em;
  color: #333;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-bottom-color: #000000;
  outline: none;
}

.form-group-half {
  display: inline-block;
  width: 48%;
}

.form-group-half:first-child {
  margin-right: 4%;
}

.csv-info {
  font-size: 0.8em;
  color: #000000;
  float: right;
  cursor: pointer;
}

.submit-btn {
  background-color: #000000;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 40px;
  /* Aumentei a margem superior para criar mais espaço */
}

.submit-btn:hover {
  background-color: #000000;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 0.9em;
  margin-bottom: 10px;
}
